html {
    background-color: darkgray;
    font-family: 'Montserrat';
    color: #000
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 5px;
}

li {
    font-size: xx-large;
    display: inline;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: xx-large;
}

p {
    font-size: 5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
}

.button {
    align-self: center;
    background-color: #ddd;
    border-radius: 18px;
    border: 3px solid #000;
    color: #000;
    height: 50px;
    width: 150px;
    font-size: x-large;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: 0.45s;
}
.button:hover {
    background-color: #000;
    color: #ddd;
    border: 3px solid #ddd;
}
.menu-item {
    display: inline;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    position: relative;
}
.menu-item:hover {
    color: #fff;
    transition: 0.3s;
}
.icon {
    cursor: pointer;
}
.icon:hover {
    filter: saturate(100%) brightness(0) invert(100%) sepia(1%) saturate(0%) hue-rotate(346deg) brightness(108%) contrast(101%);
    transition: 0.3s;
}